/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#taMessage {
	-fx-background-color: transparent, white, transparent, white;
}

#taMessage:focused {
	-fx-background-color: transparent, white, transparent, white;
}